<h1 class="titolo-partita">Partita di Scacchi</h1>

<div class="info-partita">
  @if (partita; as p) {
    <p><strong>Giocatore Bianco:</strong> {{ p.giocatoreBianco }}</p>
    <p><strong>Giocatore Nero:</strong> {{ p.giocatoreNero }}</p>
    <p><strong>Risultato:</strong> {{ p.risultato }}</p>
    <p><strong>FEN finale:</strong> {{ p.statoFinaleFEN }}</p>

    <h3>Mossa principale:</h3>
    @if (p.mosse.length > 0) {
      <div class="mossa-principale">
        <span class="numero-mossa">Mossa {{ p.mosse[0].numero }}:</span>
        <span class="descrizione-mossa">{{ p.mosse[0].pezzo }} da {{ p.mosse[0].da }} a {{ p.mosse[0].a }}</span>
        @if (p.mosse[0].cattura) { <span class="tag-mossa cattura">Cattura</span> }
        @if (p.mosse[0].arrocco) { <span class="tag-mossa arrocco">Arrocco</span> }
        @if (p.mosse[0].promozione) { <span class="tag-mossa promozione">Promozione</span> }
      </div>
    }
    @else {
      <p class="nessuna-mossa">Nessuna mossa disponibile.</p>
    }
  }
  @else {
    <p class="loading">Caricamento partita in corso...</p>
  }
</div>
<div class="scacchiera-wrapper">
  <div class="scacchiera">
    @for (r of righe; track $index) {
      @for (c of colonne; track $index) {
        <div class="cella"
             [class.bianca]="isBianca(r, c)"
             [class.nera]="!isBianca(r, c)"
             (drop)="dropPezzo($event, r, c)"
             (dragover)="allowDrop($event)">
          <ng-container *ngIf="getPezzo(r, c) as pezzo">
            <ng-container [ngSwitch]="pezzo.tipo">
              <app-pedone *ngSwitchCase="'pedone'" [color]="pezzo.colore"
                          draggable="true"
                          (dragstart)="pickPezzo($event, r, c)"></app-pedone>
              <app-torre *ngSwitchCase="'torre'" [color]="pezzo.colore"
                         draggable="true"
                         (dragstart)="pickPezzo($event, r, c)"></app-torre>
              <app-cavallo *ngSwitchCase="'cavallo'" [color]="pezzo.colore"
                           draggable="true"
                           (dragstart)="pickPezzo($event, r, c)"></app-cavallo>
              <app-alfiere *ngSwitchCase="'alfiere'" [color]="pezzo.colore"
                           draggable="true"
                           (dragstart)="pickPezzo($event, r, c)"></app-alfiere>
              <app-regina *ngSwitchCase="'regina'" [color]="pezzo.colore"
                          draggable="true"
                          (dragstart)="pickPezzo($event, r, c)"></app-regina>
              <app-re *ngSwitchCase="'re'" [color]="pezzo.colore"
                      draggable="true"
                      (dragstart)="pickPezzo($event, r, c)"></app-re>
            </ng-container>
          </ng-container>
        </div>
      }
    }
  </div>
</div>





