:host {
  display: block;
  width: 400px;
  margin: auto;
}

:host {
  display: block;
  text-align: center;
  padding: 1rem;
}

chess-board {
  width: 400px;
  margin-bottom: 1rem;
}

button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}


